{% if is_granted("ROLE_KEYMASTER") or ( is_granted("ROLE_MODERATOR") and (app.user in parent.moderators) ) %}
    <div  style="padding-bottom: 20px;">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">create a new Sub Forum</button>
    </div>

    <div class="modal fade" role="dialog" id="loginModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Please enter Sub Forum details</h3>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    {{ form_start(form, {'action': path('create_sub_forum', { 'parent_id': parent_id })}) }}
                    <label>Forum name</label>
                    {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
                    <br/>
                    <label>Forum description</label>
                    {{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}
                    <br/>
                    <label>Forum banner</label>
                    {{ form_widget(form.wallpaper, { 'attr': {'class': 'form-control'} }) }}
                    <br/>
                    <label>Forum tags</label>
                    {{ form_widget(form.tags, { 'attr': {'class': 'form-control', 'data-role': 'tagsinput'} }) }}
                    <br/>
                    <br/>
                    {{ form_widget(form.submit, { 'attr': {'class': 'btn btn-warning'} }) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% else %}
    <div class="alert mt--30" style="padding-bottom: 20px;">
        <div class="alert--inner ff--primary text-white bg-primary">
            <p>Only Keymasters and Forum Moderators can create Sub Forums</p>
        </div>
    </div>
{% endif %}
