<!DOCTYPE html>
{% block header %}
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <!-- Title -->
        <title>Fixit - Les spécialistes de réparation</title>

        <!-- Favicon -->
        <link rel="icon" href="{{asset('img/core-img/kit.png')}}">

        <!-- Core Stylesheet -->
        <link rel="stylesheet" href="{{asset('style.css')}}">
    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- ***** Top Header Area ***** -->
        <div class="top-header-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="top-header-content d-flex align-items-center justify-content-between">
                            <!-- Top Header Content -->
                            <div class="top-header-meta">
                                <a href="#" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-envelope-o" aria-hidden="true"></i> <span>Email: fixitpidev@gmail.com</span></a>
                                <a href="#" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-phone" aria-hidden="true"></i> <span>Call Us: (+216) 51 258 963</span></a>
                            </div>

                            <!-- Top Header Content -->
                            <div class="top-header-meta d-flex">
                                <!-- Register -->
                                <div class="login">
                                    <a href={{ path('fos_user_registration_register') }}><span>Register</span></a>
                                </div>
                                <!-- Login -->
                                <div class="login">
                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                                        <a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-user" aria-hidden="true"></i> <span>{{ 'Logout'|trans({}, 'FOSUserBundle') }}</span></a>
                                    {% else %}
                                        <a href="{{ path('fos_user_security_login') }}"><i class="fa fa-user" aria-hidden="true"></i> <span>{{ 'Login'|trans({}, 'FOSUserBundle') }}</span></a>
                                    {% endif %}
                                </div>
                                <!-- Cart -->
                                <div class="cart">
                                    <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> <span>Cart <span class="cart-quantity">(0)</span></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ***** Navbar Area ***** -->
        <div class="alazea-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="alazeaNav">

                        <!-- Nav Brand -->
                        <a href="{{ path('home') }}" class="nav-brand"><img src="{{asset('img/core-img/logo.png')}}" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Navbar Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="{{ path('home') }}">Home</a></li>
                                    <li><a href="{{ path('about') }}">About</a></li>
                                    <li><a href="{{ path('forums_homepage') }}">Forum</a></li>
                                    <li><a href="about.html">Blog</a></li>
                                    <li><a href="#">Shop</a>
                                        <ul class="dropdown">
                                            <li><a href="#">Services</a></li>
                                            <li><a href="#">Offers</a></li>
                                            <li><a href="#">Volunteers</a>
                                        </ul>
                                    </li>
                                    <li><a href="#">Events</a></li>
                                    {% if title  == 'Contact'%}
                                        <li><a href="#">Contact</a></li>
                                    {% else %}
                                        <li><a href="{{ path('createContact') }}">Contact</a></li>
                                    {% endif %}
                                </ul>

                                <!-- Search Icon -->
                                <div id="searchIcon">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </div>

                            </div>
                            <!-- Navbar End -->
                        </div>
                    </nav>

                    <!-- Search Form -->
                    <div class="search-form">
                        <form action="#" method="get">
                            <input type="search" name="search" id="search" placeholder="Type keywords &amp; press enter...">
                            <button type="submit" class="d-none"></button>
                        </form>
                        <!-- Close Icon -->
                        <div class="closeIcon"><i class="fa fa-times" aria-hidden="true"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
<body>
<!-- ##### Header Area End ##### -->

        <!-- ##### Breadcrumb Area Start ##### -->
        <div class="breadcrumb-area">
            <!-- Top Breadcrumb Area -->
            <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url({{asset('img/bg-img/background.jpg')}});">
                <h2>{{ title }}</h2>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ##### Breadcrumb Area End ##### -->

    </head>
{% endblock %}

{% block content%}

{% endblock %}

{% block footer%}
        <!-- ##### Footer Area Start ##### -->
        <footer class="footer-area bg-img" style="background-image: url({{asset('img/bg-img/wood.jpg')}});">
            <!-- Main Footer Area -->
            <div class="main-footer-area">
                <div class="container">
                    <div class="row">

                        <!-- Single Footer Widget -->
                        <div class="col-12 col-sm-6 col-lg-3">
                            <div class="single-footer-widget">
                                <div class="footer-logo mb-30">
                                    <a href="#"><img src="{{asset('img/core-img/logo.png')}}" alt=""></a>
                                </div>
                                <p>We collaborate with ambitious and creative professionals to deliver the best online service shopping experience</p>
                                <div class="social-info">
                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>

                        <!-- Single Footer Widget -->
                        <div class="col-12 col-sm-6 col-lg-3">
                            <div class="single-footer-widget">
                                <div class="widget-title">
                                    <h5>QUICK LINK</h5>
                                </div>
                                <nav class="widget-nav">
                                    <ul>
                                        <li><a href="#">Purchase</a></li>
                                        <li><a href="#">FAQs</a></li>
                                        <li><a href="#">Payment</a></li>
                                        <li><a href="#">News</a></li>
                                        <li><a href="#">Return</a></li>
                                        <li><a href="#">Advertise</a></li>
                                        <li><a href="#">Shipping</a></li>
                                        <li><a href="#">Career</a></li>
                                        <li><a href="#">Orders</a></li>
                                        <li><a href="#">Policities</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <!-- Single Footer Widget -->
                        <div class="col-12 col-sm-6 col-lg-3">
                            <div class="single-footer-widget">
                                <div class="widget-title">
                                    <h5>BEST SERVICES</h5>
                                </div>

                                <!-- Single Best Seller Products -->
                                <div class="single-best-seller-product d-flex align-items-center">
                                    <div class="product-thumbnail">
                                        <a href="shop-details.html"><img src="{{asset('img/bg-img/4.jpg')}}" alt=""></a>
                                    </div>
                                    <div class="product-info">
                                        <a href="shop-details.html">Cactus Flower</a>
                                        <p>$10.99</p>
                                    </div>
                                </div>

                                <!-- Single Best Seller Products -->
                                <div class="single-best-seller-product d-flex align-items-center">
                                    <div class="product-thumbnail">
                                        <a href="shop-details.html"><img src="{{asset('img/bg-img/5.jpg')}}" alt=""></a>
                                    </div>
                                    <div class="product-info">
                                        <a href="shop-details.html">Tulip Flower</a>
                                        <p>$11.99</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Single Footer Widget -->
                        <div class="col-12 col-sm-6 col-lg-3">
                            <div class="single-footer-widget">
                                <div class="widget-title">
                                    <h5>CONTACT</h5>
                                </div>

                                <div class="contact-information">
                                    <p><span>Address:</span> Z.I. Chotrana II B.P. 160
                                        Pôle Technologique El Ghazela - Ariana 2083</p>
                                    <p><span>Phone:</span> (+216) 51 258 963</p>
                                    <p><span>Email:</span> fixitpidev@gmail.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Footer Bottom Area -->
            <div class="footer-bottom-area">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="border-line"></div>
                        </div>
                        <!-- Copywrite Text -->
                        <div class="col-12 col-md-6">
                            <div class="copywrite-text">
                                <p>&copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Code Review Crew</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </p>
                            </div>
                        </div>
                        <!-- Footer Nav -->
                        <div class="col-12 col-md-6">
                            <div class="footer-nav">
                                <nav>
                                    <ul>
                                        <li><a href="{{ path('home') }}">Home</a></li>
                                        <li><a href="{{ path('about') }}">About</a></li>
                                        <li><a href="#">Shop</a></li>
                                        <li><a href="{{ path('forums_homepage') }}">Forum</a></li>
                                        <li><a href="#">Blog</a></li>
                                        {% if title  == 'Contact'%}
                                            <li><a href="#">Contact</a></li>
                                        {% else %}
                                            <li><a href="{{ path('createContact') }}">Contact</a></li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- ##### Footer Area End ##### -->
    </body>
{% endblock %}

{% block javascripts %}
    <!-- ##### All Javascript Files ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="{{asset('js/jquery/jquery-2.2.4.min.js')}}"></script>
    <!-- Popper js -->
    <script src="{{asset('js/bootstrap/popper.min.js')}}"></script>
    <!-- Bootstrap js -->
    <script src="{{asset('js/bootstrap/bootstrap.min.js')}}"></script>
    <!-- All Plugins js -->
    <script src="{{asset('js/plugins/plugins.js')}}"></script>
    <!-- Active js -->
    <script src="{{asset('js/active.js')}}"></script>
{% endblock %}

